html{
  height:100%;
}

body {
    background-image: url('https://raw.githubusercontent.com/OLucky/wiki.treasure/master/css/img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

input {
    background-color: transparent;
    text-align: center;
}

.titleWrap{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
}

.title{
  align-self: center;
  font-family: 'MedievalSharp', cursive;
  color: #f4ea07;
}

.main{
  text-align: center;
  height: 70%;
}

@media (min-width:992px){
.mageHouse {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
}

.txt {
    border-radius: 25px;
    text-align: justify;
    background-image: url('https://raw.githubusercontent.com/OLucky/wiki.treasure/master/css/img/parch-bg.jpg');
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 10px;
}

.mg {
  max-height: 500px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.point {
    width: 150px;
    cursor: pointer;
}

.reslt {
    opacity: 0;
}

.resltTXT {
    opacity: 0;
}

.wikiReslt{
  color:black;
}

.wikiReslt:link {
    color: black;
}

.wikiReslt:hover {
    color: #d8a937;
}

.punchable {
    cursor: pointer;
}

#sacred {
    padding-top: 10px;
    background-image: url('https://raw.githubusercontent.com/OLucky/wiki.treasure/master/css/img/book-cover.jpg');
    background-size: cover;
    cursor: pointer;
    color: gold;
    font-family: 'MedievalSharp', cursive;
    margin-top: 40px;
    margin-bottom:15px;
}

#sub {
    margin-top: 10px;
}

#knowledge {
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/OLucky/wiki.treasure/master/css/img/parch-bg.jpg');
    font-family: 'MedievalSharp', cursive;
    margin-top:-15px;
}

#head{
  font-size: 30px;
  text-align: center;
}
#descr{
  font-size: 20px;
}
